body {
    background: #FDFAF1;
    font-family: 'Inter', sans-serif !important;
    color: #343F1E;
}
h1, h2, h3, h4, h5, h6,
.navbar-brand,
.nav-link,
button,
.btn-primary {
    font-family: 'Inter', sans-serif !important;
}

.btn-primary { background: #FF9215; padding: 12px 20px; font-size: 16px; font-weight: 600; border-radius: 6px; text-decoration: none; color: #fff; text-align: center;}
.btn-outline { background: #FDFAF1; border: 1px solid #FF9215; color: #FF9215; padding: 12px 20px; font-size: 16px; font-weight: 600; border-radius: 6px; text-decoration: none; text-align: center;}
.navbar .navbar-toggler { outline: none; box-shadow: none; }
.navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus, .navbar .navbar-toggler:active { outline: none; box-shadow: none;}
.navbar-nav .nav-item .nav-link { color: #000; font-size: 16px;}
.home_banner .hero_wrapper { display: flex; align-items: center; justify-content: flex-start;}
.home_banner .hero_wrapper .hero_section { width: 68%; position: relative; display: flex; align-items: center; justify-content: center; margin-right: 20px}
.home_banner .hero_wrapper .popup-youtube { position: absolute; width: 100px; left: 0; right: 0; margin: auto;}
.home_banner .hero_wrapper .hero_section img { width: 100%; height: auto;}

.home_banner .hero_wrapper .chat_box { width: 30%; background: #F3EBE1; border-radius: 15px; height: 100%;}
.home_banner .hero_wrapper .chat_box .chat_head { background: #FF9215; color: #fff; border-radius: 15px 15px 0 0; padding: 30px;}
.home_banner .hero_wrapper .chat_box .chat_head p { margin-bottom: 0; font-size: 15px;}
.home_banner .hero_wrapper .chat_box .chat_head p strong { font-size: 20px;}
.home_banner .hero_wrapper .chat_box .msg_container { padding: 20px 20px 0; position: relative; overflow-y: auto;}
.home_banner .hero_wrapper .chat_box .msg_container .msg { padding: 20px; box-shadow: 0px 2px 2px rgba(0,0,0,0.1); background: #fff; border-radius: 15px; margin-bottom: 10px;}
.home_banner .hero_wrapper .chat_box .msg_container .msg p { margin: 0; font-size: 16px; line-height: 23px;}
.home_banner .hero_wrapper .chat_box .msg_container .type_msg { margin-top: 50px; background: #F3EBE1; padding: 5px 5px 17px; position: sticky; bottom: 0; left: 0; width: 100%;}
.home_banner .hero_wrapper .chat_box .msg_container .type_msg .btn-primary { outline: none; border: none;}

.instructors { background: #FFF1E1; padding: 60px 0;}
.instructors .instructors_wrapper { display: flex; justify-content: center; flex-wrap: wrap;}
.instructors .instructors_bx { background: #FDFAF1; border: 1px solid rgb(0 0 0 / 10%); padding: 30px; margin-bottom: 20px; border-radius: 40px; width: 30%; margin: 0 10px 20px;}
.instructors .instructors_bx .instructors_img { background: #FDFAF1; border-radius: 30px; margin-bottom: 30px; width: 100%}
.instructors .instructors_bx .instructors_rating { display: flex; align-items: center; margin-bottom: 20px;}
.instructors .instructors_bx .instructors_rating img { width: 20px; height: 20px; margin-right: 5px;}
.instructors .instructors_bx h6 { color: #343F1E; font-size: 25px; font-weight: 600;}
.instructors .instructors_bx p { color: #343F1E; font-size: 16px; line-height: 25px;}
.instructors_detail .instructors_bx { width: 70%;}
.schedule { padding: 60px 0; text-align: center;}
.schedule .schedule_box { background: #fff; padding: 50px; border-radius: 20px; box-shadow: 0px 30px 100px rgba(0,0,0,0.1);}
.schedule .schedule_box h2 { text-align: center; font-size: 40px; font-weight: 600;}
.schedule .schedule_box .schedule_time p { display: flex; align-items: center; justify-content: space-between; padding: 5px 0 15px; border-bottom: 1px solid #E3E9D8;}
.schedule .schedule_box .btn-primary  { border-radius: 50px; width: 100%; display: inline-block; border: none;}
.footer img { border-radius: 50px;}

.auth .modal-header { justify-content: center; padding: 35px 10px 0; border: none; }
.auth .modal-header h5 { font-size: 30px; color: #343F1E; font-weight: 700; }
.auth .modal-dialog .modal-content { border-radius: 40px; }
.auth .modal-body { padding: 30px 40px; }
.auth .modal-body .form-control { border: 1px solid #FF9215; padding: 15px 18px 15px 65px; margin-bottom: 10px; }
.auth .modal-body .form-check { display: flex; align-items: center; margin-bottom: 20px; color: #FF9215; font-size: 15px; }
.auth .modal-body .form-check a { color: #ff9215; }
.auth .modal-body .form-check .form-check-input { margin-right: 10px; border: 3px solid #FFE9D0; width: 18px; height: 18px; }
.auth .saperator { margin-top: 20px; position: relative; }
.auth .saperator:before { content: ""; width: 33%; height: 1px; background: rgb(0 0 0 / 9%); position: absolute; left: 0; top: 50%; }
.auth .saperator:after { content: ""; width: 33%; height: 1px; background: rgb(0 0 0 / 9%); position: absolute; right: 0; top: 50%; }
.auth .saperator p { font-size: 14px; color: #969696; }
.auth .social_link { display: flex; align-items: center; justify-content: center; }
.auth .social_link a { background: #FFF1E1; padding: 10px 20px; border-radius: 10px; margin: 0 4px; width: 85px; height: 48px; border: 1px solid transparent; }
.auth .social_link a:hover { border: 1px solid #ff9215; }
.auth .social_link a img { width: 20px; height: 20px; }
.auth .foot_txt { color: #686B6E; font-size: 15px; font-weight: 500; margin-top: 12px;  }
.auth .foot_txt a { color: #ff9215; }
img.yoga_img { max-width: 100%; width: 20%;}
.auth .modal-body .form-group { position: relative; }
.auth .modal-body .form-group label.form_img { position: absolute; left: 1px; top: 1px; background: #fff; height: 53px; width: 53px; line-height: 53px; border-radius: 5px; }
.auth .modal-body .form-group label.form_img img { width: 26px; }

/*Media Query*/
@media (max-width: 1600px) {
    .home_banner .hero_wrapper .chat_box .chat_head p strong { font-size: 17px;}
    .home_banner .hero_wrapper .chat_box .chat_head p { font-size: 14px;}
    .home_banner .hero_wrapper .chat_box .msg_container { height: 365;}
    .home_banner .hero_wrapper .chat_box .msg_container .type_msg { margin-top: 20px; padding: 15px 20px;}
    .home_banner .hero_wrapper .chat_box .msg_container .msg p { font-size: 15px; line-height: 20px; margin-bottom: 5px;}
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1600px;}
}
@media (max-width: 1366px) {
    .home_banner .hero_wrapper .chat_box .chat_head p strong { font-size: 15px;}
    .home_banner .hero_wrapper .chat_box .chat_head { padding: 20px; }
    .home_banner .hero_wrapper .chat_box .msg_container .msg { padding: 10px; }
    .home_banner .hero_wrapper .chat_box .msg_container .msg p { font-size: 15px; line-height: 20px}
    .home_banner .hero_wrapper .chat_box .msg_container .type_msg { margin-top: 30px;}
    .instructors .instructors_bx { width: 35%; }
    .home_banner .hero_wrapper .chat_box .msg_container { height: 250px;}
}
@media (max-width: 992px) {
    .home_banner .hero_wrapper { flex-direction: column; }
    .home_banner .hero_wrapper .hero_section { width: 100%; }
    .home_banner .hero_wrapper .chat_box { width: 90%; margin: 15px 0; }
    .instructors .instructors_bx { width: 48%; margin: 0 5px 10px; padding: 20px; border-radius: 15px }
    .instructors .instructors_bx .instructors_img { border-radius: 15px; }
    .instructors .instructors_bx h6 { font-size: 18px; }
    .instructors .instructors_bx p { font-size: 14px; }
    .instructors .instructors_bx .instructors_rating { margin-bottom: 10px; }
    .instructors .instructors_bx .instructors_rating img { width: 16px; height: 16px; }
    .instructors_detail .instructors_bx { width: 90%; }
    .schedule .schedule_box { padding: 30px; }
    .schedule .schedule_box h2 { font-size: 25px; }
    .schedule .schedule_box .schedule_time p { padding: 3px 0 8px; }
    .footer img { border-radius: 20px; }
    .navbar { padding: 30px 0;}
    .navbar-nav { padding-top: 20px;}
    .navbar-nav .nav-item .nav-link { padding: 5px 0; border-bottom: 1px solid #E3E9D8; }
    .navbar-nav .nav-item:last-child .nav-link { border: none;}
    .navbar .mr-t { margin-top: 25px;}
}
@media (max-width: 680px) {
    .instructors .instructors_bx { width: 100%; margin: 0 5px 10px; padding: 20px; border-radius: 15px }
}